html, body, #map-container {
	height: 100%;
	width: 100%;
	margin: 13px 0 0 0;
	/*margin: 0;*/
	padding: 0;
	overflow: hidden;
}

.navbar-default {
	background-color: white;
	z-index: 10;
	box-shadow: 2px 2px 2px #888;
	min-height: 40px;
	height: 40px;
}

.navbar-brand {
	padding: 10px;
}

.navbar-nav li a {
	padding-bottom: 10px;
	padding-top: 10px;
}


#control-bar {
	position: absolute;
	left: 20px;
	top: calc(3% + 40px);
	z-index: 10;
	background-color: white;
	padding: 10px;
	width: 18%;
	max-height: calc(94% - 40px); 
	overflow-y: scroll;
	box-shadow: 2px 2px 2px #888;
	border-radius: 10px;
}

.form-group {
	line-height: 10px;
}

.sidebar-input {
	margin-bottom: 50px;
}

.list-item {
	padding: 5px;
}

#list-container .list-item + .list-item {
	border-top: 2px solid #EEE;
}

.text-alert {
	background-color: #EEE;
	padding: 10px 0px 10px 0px;
	text-align: center;
}

#submit-buttons .btn {
	margin-top: 10px;
}

#find-more {
	display: none;
}

.hidden {
	display: none;
}

.waypoint {
	color: blue;
}

.travel-mode {
	padding-right: 3px;
}

#directions-todo {
	display: none;
}

.place-desc {
	display: inline-block;
}

.detail-dropdown {
	color: lightblue;
	font-size: 0.8em;
	/*float: right;*/
}

.select-button {
	display: inline-block;
	top: 15px;
	bottom: 15px;
	float: right;
	vertical-align: middle;
	margin: 6.5px 0px 0px 0px;
	font-size: 12px;
	padding: 4px 9px;
	display: none;
}

.control-buttons {
	float: right;
}

/*From Stack Overflow:*/
span.stars, span.stars span {
    display: none;
    background: url(/static/img/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
    display: none;
    /*width: 62px;*/
}

.form-signin, .form-create {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  position: relative;
}

.form-signin .form-signin-heading, .form-create .form-control {
  margin-bottom: 10px;
}

.form-signin .form-control, .form-create .form-control{
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px;
  font-size: 14px;
}

.form-signin .form-control:focus, .form-create .form-control:focus{
  z-index: 2;
}

.form-signin h2, .form-create h2 {
	margin-bottom: 20px
}

.navbar-fixed-top {
	margin-bottom: 0;
}

.nav, .navbar-collapse, .navbar-header {
	max-height: 40px;
}


.navbar li div.dropdown {
	display: none; 
	width: 20em;
	background-color: white;
}

.navbar li:hover div.dropdown {
	display: block;
	position: absolute;
	right: 0px;
	margin: 0;
	padding: 0; 
}
.navbar li:hover div.dropdown {
	float: none; 
}

li.logged-in {
	display: none;
}
#route-list {
	margin-top: 50px;
}

#route-list div {
	border-bottom: 2px solid #EEE;
	padding-left: 10px;
}
