html, body, #map-container {
	height: 100%;
	margin: 0;
	padding: 0;
}

#control-bar {
	position: absolute;
	left: 20px;
	top: 3%;
	/*display: inline-block;*/
	z-index: 10;
	background-color: white;
	padding: 10px;
	width: 18%;
	max-height: 94%; 
	overflow-y: scroll;
	box-shadow: 5px 5px 5px #888;
	border-radius: 10px;
}

.form-group {
	line-height: 10px;
	margin-bottom: 20px;
}

.list-item {
	padding: 5px;
}

#list-container .list-item + .list-item {
	border-top: 2px solid #EEE;
}

.list-item:hover {
	background-color: #EEE;
}

.btn {
	float: right;
	margin-left: 10px;
}

#find-more {
	display: none;
}

.hidden {
	display: none;
}

.waypoint {
	color: blue;
}

/*#directions {
	margin-top: 40px;
}*/
