<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/style.css" />
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">TripWise</a>
                </div>
                <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    
                    <!-- <div class="logged-in"> -->
                         <li class="logged-in" id="user-firstname"></li>
                         <li class="logged-in"><a class="logged-in" href="/save">Save Trip</a>
                            <div class="form-signin dropdown">
                              <form class="form-signin" id="save-route" method="POST">
                              <h4>Save Route</h4>
                                <div class="form-group">
                                  <input type="text" name="route-name" class="form-control" id="route-name" placeholder="Enter route name">
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                              </form>
                            </div>
                         </li>

                         <li class="logged-in"><a href="/mytrips">My Trips</a></li>
                         
                         <li class="logged-in" id="logout"><a href="/logout">Log Out</a></li>
                    <!-- </div> -->

                    
                    <!-- <div class="logged-out">  -->
                        <!-- <li><a href="/login">Log In</a> -->
                        <li class="logged-out"><a>Log In</a>
                            <div class="form-signin dropdown">
                              <form class="form-signin" id="login-user-dropdown" method="POST">
                              <h4>Log In</h4>
                                <div class="form-group">
                                  <label for="email">Email address</label>
                                  <input type="email" name="email" class="form-control" id="email" placeholder="Enter email">
                                </div>
                                <div class="form-group" >
                                  <label for="password">Password</label>
                                  <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                              </form>
                            </div>
                        </li>
                    
                        <li class="logged-out"><a>Create Account</a>
                            <div class="form-create dropdown">
                              <form class="form-create" id="create-new-user" method="POST">
                              <h4>Create Account</h4>
                                <div class="form-group">
                                  <label for="first-name">First Name</label>
                                  <input type="text" name="first-name" class="form-control" id="first-name" placeholder="First Name">
                                </div>
                                <div class="form-group">
                                  <label for="last-name">Last Name</label>
                                  <input type="text" name="last-name" class="form-control" id="last-name" placeholder="Last Name">
                                </div>
                                <div class="form-group">
                                  <label for="email">Email Address</label>
                                  <input type="email" name="email" class="form-control" id="new-email" placeholder="Enter email">
                                </div>
                                <div class="form-group" >
                                  <label for="password">Password</label>
                                  <input type="password" name="password" class="form-control" id="new-password" placeholder="Password">
                                </div>
                                <div class="form-group" >
                                  <label for="phone">Cell Phone Number</label>
                                  <input type="text" name="phone" class="form-control" id="phone" placeholder="Phone">
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                                <div id="login-alert"></div>
                              </form>
                            </div>
                        </li>
                    <!-- </div> -->

                    </ul>
                </div>
            </div>
        </div>
    
        {% block body %}{% endblock %}
    </body>
</html>