{% extends 'base.html' %}
{% block body %}

    <div class="container">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <ul class="flashes">
          <li>{{message}}</li>
      </ul>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>


    <form class="form-signin" method="POST">
    <h2>Create Account:</h2>
      <div class="form-group">
        <label for="first-name">First Name</label>
        <input type="text" name="first-name" class="form-control" id="first-name" placeholder="First Name">
      </div>
      <div class="form-group">
        <label for="last-name">Last Name</label>
        <input type="text" name="last-name" class="form-control" id="last-name" placeholder="Last Name">
      </div>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="Enter email">
      </div>
      <div class="form-group" >
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
      </div>
      <div class="form-group" >
        <label for="phone">Cell Phone Number</label>
        <input type="text" name="phone" class="form-control" id="phone" placeholder="Phone">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/login.js"></script>

{% endblock %}