<html>
	<head>
		<title>OnTheWay</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/css/style.css"/>
	</head>
	<body>
		<div id="control-bar">
			<div class="form-group">

				<!-- TODO: Make start and end fields autocomplete -->
				<form id="directions-form">
					<label for="start">Start</label>
					<input type="text" id="start" class="form-control" value="3896 19th St, San Francisco, CA"><br>
					
					<label for="end">End</label>
					<input type="text" id="end" class="form-control" value="683 Sutter St, San Francisco, CA"><br>
					
					<label for="keyword">Keyword</label>
					<input type="text" id="keyword" class="form-control" value="Sushi"><br>
					
					<input type="checkbox" id="opennow">
					<label for="opennow">Open Now</label> 

					<button class="btn btn-default" type="submit">Go!</button>
				</form>
			</div>


			<!-- TODO: Make list container scrollable for small screens. -->
			<div id="list-container">
        	</div>

			<!-- TODO: Add find more button! -->
        	<div id="find-more">
				<button class="btn btn-default" id="get-more-results" type="button">Get More Results</button>
        	</div>

			<div id="directions">

			</div>
		</div>


        <div id="map-container"></div>

		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdYX2uSHJsvjQhI2eJo-6peidlfFlMvIs&libraries=places"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="/static/js/json2.js"></script>
		<script src="/static/js/initialize-map.js"></script>
		<script src="/static/js/directions.js"></script>
		<script src="/static/js/model.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/q.js/1.0.1/q.min.js"></script>
	</body>
</html>