<html>
	<head>
		<title>Test</title>
	</head>
	<body>
		<form id="directions-form">
			Origin: <input type="text" id="start" name="origin"><br>
			Destination: <input type="text" id="end" name="destination"><br>
			<input type="submit">
		</form>

		<div class="instructions">
          <ul class="instructions-list" id="instructions-container">
          </ul>
        </div>

		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
		<script src="/static/js/jquery-1.11.0.min.js"></script>
		<script>
			var directionsService = new google.maps.DirectionsService();

			$("#directions-form").submit(function(evt) {
				event.preventDefault();
				var start = document.getElementById('start').value;
	  			var end = document.getElementById('end').value;
	  			var request = {
	      			origin: start,
	      			destination: end,
	      			travelMode: google.maps.TravelMode.DRIVING
  				};
	  			directionsService.route(request, function(response, status) {
	    			if (status == google.maps.DirectionsStatus.OK) {
	      				showSteps(response);
	      				showPoints(response);
					}
				
    			});
    		});

    		function showSteps(directionResult) {
    			var myRoute = directionResult.routes[0].legs[0];
    			for (var i = 0; i < myRoute.steps.length; i++) {
    				$("#instructions-container").append("<li>" + myRoute.steps[i].instructions + "</li>");
    			}
    		}

    		function showPoints(directionResult) {
    			var decodedPolyline = google.maps.geometry.encoding.decodePath(directionResult.routes[0].overview_polyline);
    			for (var i = 0; i < decodedPolyline.length; i++) {
    				console.log(decodedPolyline[i].k, decodedPolyline[i].B);
    			}
    		}

		</script>
	</body>
</html>