<html>
	<head>
		<title>Test</title>
		<style>
		#map-container {
			height: 500px;
		}
		</style>
	</head>
	<body>
		<form id="directions-form">
			Start: <input type="text" id="start" value="3896 19th st, sf, ca"><br>
			End: <input type="text" id="end" value="683 sutter st, sf, ca"><br>
			Place: <input type="text" id="place" value="sushi"><br>
			<input type="submit">
		</form>

		<div class="instructions">
          <ul class="instructions-list" id="instructions-container">
          </ul>
        </div>

        <div id="map-container"></div>

		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdYX2uSHJsvjQhI2eJo-6peidlfFlMvIs&libraries=places"></script>
		<script src="/static/js/jquery-1.11.0.min.js"></script>
		<script src="/static/js/json2.js"></script>
		<script src="/static/js/initialize-map.js"></script>
		<script src="/static/js/directions.js"></script>
	</body>
</html>